<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p class="block__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo totam,
      necessitatibus laboriosam quam blanditiis sunt possimus quia cumque, eos
      magnam fuga aspernatur adipisci? Asperiores omnis possimus fugiat officiis
      nobis nisi repellendus ullam natus eum quisquam aut excepturi ea, sunt
      ratione?
    </p>
  </header>

  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates sit
        ipsam nisi saepe debitis dolor recusandae in quis, excepturi ab?
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p class="block__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo totam,
        necessitatibus laboriosam quam blanditiis sunt possimus quia cumque, eos
        magnam fuga aspernatur adipisci? Asperiores omnis possimus fugiat
        officiis nobis nisi repellendus ullam natus eum quisquam aut excepturi
        ea, sunt ratione?
      </p>
    </header>
  </div>
</section>
